{% extends 'libraryapp/base.html' %}

{% load staticfiles %}
{% block title %}{{ request.GET.q }} | Search{% endblock %}
{% block content %}
<html>
<div class="container">
<p> Type Author/Book Title combination into query box</p>
<form action="/choose">
  Query:
  <input type="text" name="q" value="">
  <input type="submit" value="Submit">
</form> 
<br>
{{no_results}}
<div><button type="button" class="btn btn-primary navbar-btn pull-right" onclick="location.href = '/add';"">Empty Form</button></div>
{% for choice in choices %}
<table>
  <tr>
    <th>
<div class="wrapper"><a href="/add?id={{choice.id}}"><img src="{{choice.image}}"/><span class="glyphicon glyphicon-plus">Add</span><a></div></th>
<th>Title: <a href="{{choice.url}}" target="_blank">{{choice.title}}</a><br>
Author: {{choice.author}}<br>
Publication: {{choice.date}}<br>
Average Rating: {{choice.rating}}<br></th>
</tr><br>
</table>

{% endfor %}
</div>
<style>
table {
}

td, th {
    text-align: left;
}

tr:nth-child(even) {
}

.wrapper {
   position: relative;
}

.wrapper .glyphicon {
   position: absolute;
   top: 30px;
   left: 0px;
   font-size:95%;
}
</style></html>
{% endblock %}