<html>
<head>
<p> Type Author/Book Title combination into query box</p>
<form action="/choose">
  Query:
  <input type="text" name="q" value="">
  <input type="submit" value="Submit">
</form> 
<title>{{ request.GET.q }} | Search</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% for choice in choices %}
<table>
  <tr>
    <th>
<div class="wrapper"><a href="/add?id={{choice.id}}"><img src="{{choice.image}}"/><span class="glyphicon glyphicon-plus">Add</span><a></div></th>
<th>Title: <a href="{{choice.url}}" target="_blank">{{choice.title}}</a><br>
Author: {{choice.author}}<br>
Publication: {{choice.date}}<br>
Average Rating: {{choice.rating}}<br></th>
</tr><br>
</table>

{% endfor %}

<style>
table {
}

td, th {
    text-align: left;
}

tr:nth-child(even) {
}

.wrapper {
   position: relative;
}

.wrapper .glyphicon {
   position: absolute;
   top: 30px;
   left: 0px;
   font-size:95%;
}
</style></html>