{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		{% block head %}

			{% block meta %}
				<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
				<meta name="robots" content="NONE,NOARCHIVE" />
			{% endblock %}

			<title>{% block title %}{% block name %}{% endblock %} - Borrow Books Project{% endblock %}</title>

			{% block style %}
				<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
			{% endblock %}

			{% block style_extra %}
			{% endblock %}

		{% endblock %}
	</head>

	{% block body %}
	<body class="{% block bodyclass %}{% endblock %}">

		<div class="wrapper">
			{% block navbar %}
				<div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
					<div class="container">
						<span>
							{% block branding %}
								<a class='navbar-brand' rel="nofollow" href='/'>
									My Library
								</a>
							{% endblock %}
						</span>
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">List Views<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/books/">Books List</a></li>
									<li><a href="/loans/">Loans List</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			{% endblock %}

			{% block content %}
			{% endblock %}


		</div><!-- ./wrapper -->

		{% block script %}
			<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>
		{% endblock %}

		{% block script_extra %}
		{% endblock %}

	</body>
	{% endblock %}
</html>