 <div class="modal fade" id="book-borrow-modal" tabindex="-1" role="dialog" aria-labelledby="Book Borrow Modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                
                <form id="borrow" class="form-horizontal" action="" method="post">
                    {% csrf_token %}

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Borrow Book</h4>
                    </div>

                    <div class="alert alert-danger">
                    Are you sure you wish to borrow "{{book.title}}"?</div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                      <input type="submit" class="btn btn-danger" value="Borrow" />
                    </div>
                </form>
              </div>
            </div>
          </div>