{% extends 'libraryapp/base.html' %}

{% load staticfiles %}

{% block content %}
{% block title %}Loans List {%endblock%}
{% if perms.collection.add_book %}
                <button type="button" class="btn btn-primary navbar-btn pull-right" data-toggle="modal" data-target="#loans-form-modal">New Loan</button>
                {% include "libraryapp/loans-form-modal.html" %}
            {% endif %}
   <div class="container">
    <h1> Loans </h1>   
    <table class="table">
      <tr>
      	<th></th>
        <th>Title</th>
        <th>Author</th>
        <th>Lender</th>
        <th>Borrower</th>
        <th>Date Created</th>
        <th>Loan Length</th>
      </tr>
      {% if object_list %}
        {% for loan in object_list %}
        <tr>
          <td><img src="{{loan.book.small_image_url}}"/></td>
          <td><a href="/loans/{{loan.id}}">{{loan.book.title}}</a></td>
          <td><a href="/author/{{loan.book.author.id}}">{{loan.book.author.author}}</a></td>
          <td><a href="/user/{{loan.borrowed_from.id}}">{{loan.borrowed_from}}</a></td>
          <td><a href="/user/{{loan.borrower.id}}">{{loan.borrower}}</a></td>
          <td>{{loan.date_created}}</td>
          <td>{{loan.timesince}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}

