{% extends 'libraryapp/base.html' %}

{% load staticfiles %}

<title> {{loans.book.title}} | Details </title>
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1><img src="{{loans.book.small_image_url}}"/>{{loans.book.title}}</h1>
  </div>
  <div class="row">
    
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
          <dl class="dl-horizontal">
          	<dt>Lender</dt>
            <dd>{{loans.borrowed_from}}</dd>
            
            <dt>Borrower</dt>
            <dd>{{loans.borrower}}</dd>
            
            <dt>Date Lent</dt>
            <dd>{{loans.date_created}}</dd>
            
			<dt>Loan Length</dt>
            <dd>{{loans.timesince}}</dd>
            
            <dt>Author</dt>
            <dd><a href="/author/{{loans.book.author.id}}">{{loans.book.author.author}}</a></dd>
            
            <dt>Author Page</dt>
            <dd><a href = "http://www.goodreads.com/author/show/{{loans.book.author.id}}" target=_blank>http://www.goodreads.com/author/show/{{loans.book.author.id}}</a><dd>

        	<dt>Description</dt>
        	{% autoescape off %}
            <dd>{{loans.book.description}}</dd>
            {% endautoescape %}
            
            <dt>Published</dt>
            <dd>{{loans.book.date}}</dd>
        
            <dt>ISBN</dt>
            <dd>{{loans.book.isbn}}</dd>
            
            <dt>Publisher</dt>
            <dd>{{loans.book.publisher}}</dd>
            
            <dt>Pages</dt>
            <dd>{{loans.book.num_pages}}</dd>
            
            <dt>Goodreads URL</dt>
            <dd><a href="{{loans.book.url}}">{{loans.book.url}}</a></dd>
            
          </dl>
        </div>
      </div>
    </div>
{% endblock %}